@model List<Book> // Assuming Book is your model class

@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4 text-success" style="font-weight:bold;">Get in Touch!</h1>
   
</div>

<!-- Display Books in Cards -->
<div class="col  pt-4" style="width:100%; height:80vh; display:flex; justify-content:center; align-items:center;border-radius:8px;">
    <div class="border" style="width:50%; height:100%; background:#2f2f2f;">
        <img src="@Url.Content("https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SX300.jpg")" style=" height:100%; width:100%;" alt="Book Image">
</div>


    <div class=" border" style="width:50%; height:100%; display:flex;  flex-direction:column; justify-content:center; align-items:center;background:#ededed;">
        <div class="m-2" style="width:90%;">
            <label  class="form-label">First Name</label>
            <input type="text" class="form-control" style="width:100%;background:#ededed;" id="exampleFormControlInput1" placeholder="firstname">
        </div>
        <div class="m-2" style="width:90%;">
            <label  class="form-label">Last Name</label>
            <input type="text" class="form-control" style="width:100%;background:#ededed;" id="exampleFormControlInput1" placeholder="lastname">
        </div>
        <div class="m-2" style="width:90%;">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email"  class="form-control" style="width:100%;background:#ededed;" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="m-2" style="width:90%;">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" style="width:100%;background:#ededed;" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-success px-4 m-4" > Get in Touch</button>
    </div>
</div>
